@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* all below styles were for testing, remove them and write your own  */
body {
  font-family: "Poppins", sans-serif;
}

.card{
  width: 330px;
  height: 400px;
}

.card > img{
  object-fit: cover;
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 10px 15px;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  backdrop-filter: blur(15px);
  border-radius: 30px;
}
