<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add Post</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="author" id="floatingInput"
                            placeholder="name@example.com">
                        <label for="floatingInput">Author</label>
                    </div>
                    <div class="form-floating">
                        <input type="text" class="form-control" name="content" id="floatingPassword"
                            placeholder="Password">
                        <label for="floatingPassword">Content</label>
                    </div>
                    <input type="file" class="form-control mt-3" name="image">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button class="btn btn-danger" onclick="return validate()" id="post-btn" type="submit">Add
                        Post</button>
                </div>
            </form>

        </div>
    </div>
</div>